FLOW_SUPBASE_URL = "URL da api do database"
FLOW_SUPABASE_ANON_KEY = "senha publica da api"
FLOW_SUPABASE_SERVICE_KEY = "senha privada"
FLOW_SUPABASE_URL_DB = "URL de conecção do banco"
PORT = "porta do projeto ex: 8080"
